@use 'styles/theme';
@use 'styles/utilities';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
  font: var(--mat-sys-body-medium);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--mat-sys-outline-variant);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
